#zas {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../media/imgs/flag.png);
    background-repeat: no-repeat;   
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#zas h1 {
    margin: 0%;
}

.passport {
    background-color: var(--twobackground);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.passport h2 {
    margin: 20px 0px;
}

.passport .w {
    display: flex;
    justify-content: center;
    align-items: center;
}

.passport .w .text {
    margin-left: 10px;
}

.passport .w img {
    width: 103.9px;
    height: 147.6px;
}

.passport a {
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid var(--threebackground);
    border-radius: 10px;
    text-decoration: none;
}

.cadr {
    background-color: var(--twobackground);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cadr h2 {
    margin: 20px 0px;
}

.cadr .text {
    margin-left: 10px;
    margin-bottom: 40px;
}

.cadr a {
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid var(--threebackground);
    border-radius: 10px;
    text-decoration: none;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--twobackground);
    text-align: center;
    padding-bottom: 30px;
}

.news .w {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--twobackground);
    text-align: center;
}

.news h1{
    text-align: center;
}

.news-new {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../media/imgs/news-not-found.png);
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.news-new h1 {
    margin: 0%;
}

.news-new .text {
    margin: 3px 0px;
}

.news hr {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

@media (max-width: 720px) {
    .news {
        padding-bottom: 0px;
    }

    .news .w {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .news-new {
        width: 100%;
    }    
}